/* logo font */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.font-ya-a {
  font-family: "Yeseva One", cursive;
}
.font-a {
  font-family: "Pacifico", cursive;
}

/*  */
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transtion: all 400ms ease;
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-trans: 0.3s;
  --main-padd: 100px;
  --transition: all 400ms ease;
}
/*  */
@media (max-width: 640px) {
  .width95-a {
    width: 95%;
    margin-left: 2.5%;
  }
}
/* scroll */
.nav-fixed-a {
  position: fixed;
}
.top0-a {
  top: 0;
}
.window-scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.hidden-a {
  display: none;
}
/*  */

.z-index-a {
  z-index: 999;
}
.slide {
  transition: transform 500ms ease-out;
}

.overlay-a {
}

.overlay-a::before {
  position: absolute;
  content: "";
  background-color: #3cc78f;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 0.38;
}

.vh50-a {
  height: 80vh;
}

.top-a {
  top: 80%;
  left: 50vw;
}
/* slider bg   */
.bg1-a {
  background-image: url(../img/slider1.jpg);
  background-size: cover;
  background-position: bottom;
}
.bg2-a {
  background-image: url(../img/slider2.jpg);
  background-size: cover;
}
.bg3-a {
  background-image: url(../img/slider3.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 425px) {
  .bg1-a {
    background-position: right;
  }
  .bg2-a {
    background-position: center;
  }
}

/* title */
.main-title-a {
  position: relative;
  margin: 0px auto 80px;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 500;
  width: fit-content;
  z-index: 1;
}
.main-title-a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  background-color: #bcf0da;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.form-input-a:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(50, 200, 100, 0.4);
  border-color: #a4cafe;
}
/* counter */
.counter0 {
  padding: 20px 0;
}
.counter {
  background-color: #bcf0da;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border-radius: 12px;
}
.container-a {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0;
  /* position: relative; */
  font-size: 16px;
}
.container-a i {
  font-size: 2.5rem;
  text-align: center;
  /* color:#fff; */
}
.container-a span.num {
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 2.5em;
}
.container-a span.text {
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}
@media (max-width: 1024px) {
  .container-a {
    width: 26vmin;
    height: 26vmin;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .counter {
    flex-wrap: wrap;
    gap: 30px;
  }
  .container-a {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .counter {
    gap: 15px;
  }
  .container-a {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}
/* faq */

.faqs {
  background-color: #fff;
  margin: 20px 0;
}

.faqs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: #bcf0da;
  cursor: pointer;
}
.faqs h2 {
  margin: 0px auto 40px;
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq-icon {
  align-self: center;
  font-size: 1.2rem;
}
.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}
@media (max-width: 1024px) {
  .faqs-container {
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
}
.before-a::before {
  position: absolute;
  content: "";
  background-color: #0e9f6e;
  top: 52%;
  right: 24px;
  z-index: 4;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  opacity: 0.38;
}
@media (max-width: 639px) {
  .new-a{
    margin-bottom: 150px;
  }
}
@media (max-width: 505px) {
  .new-a{
    margin-bottom: 250px;
  }
}