/* logo font */
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.font-ya-a {
  font-family: "Yeseva One", cursive;
}
.font-a {
  font-family: "Pacifico", cursive;
}
/*  */
:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transtion: all 400ms ease;
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-trans: 0.3s;
    --main-padd: 100px;
    --transition: all 400ms ease;
}
/*  */
@media (max-width: 640px) {
  .width95-a {
    width: 95%;
    margin-left: 2.5%;
  }
}
/* scroll */
.nav-fixed-a {
  position: fixed;
}
.top0-a {
  top: 0;
}
.window-scroll {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.hidden-a {
  display: none;
}
/*  */

.z-index-a {
  z-index: 999;
}
.slide {
  transition: transform 500ms ease-out;
}

.overlay-a {
}

.overlay-a::before {
  position: absolute;
  content: "";
  background-color: #3cc78f;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 0.38;
}

.vh50-a {
  height: 80vh;
}

.top-a {
  top: 80%;
  left: 50vw;
}
/* slider bg   */
.bg1-a {
  background-image: url(../img/slider1.jpg);
  background-size: cover;
  background-position: bottom;
}
.bg2-a {
  background-image: url(../img/slider2.jpg);
  background-size: cover;
}
.bg3-a {
  background-image: url(../img/slider3.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 425px) {
  .bg1-a {
    background-position: right;
  }
  .bg2-a {
    background-position: center;
  }
}
/* footer */
footer .container {
  padding: 0px 15px;
  margin: 0px auto;
}
footer {
  /* background-color: #fff; */
  padding: 70px 20px 0px 20px;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

footer .box h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 500;
}

footer .box .social {
  display: flex;
  justify-content: end;
}

footer .box .social li {
  margin-right: 10px;
}

footer .box .social li a {
  /* background-color: #313131; */
  color: #0f0f0f;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-trans);
}

footer .box .social .facebook:hover {
  background-color: #1877f2;
  color: white;
}

footer .box .social .twitter:hover {
  background-color: #1da1f2;
  color: white;
}

footer .box .social .youtube:hover {
  background-color: #ff0000;
  color: white;
}

footer .box .text {
  line-height: 2;
  color: #7c7c7c;
}

footer .box .links li {
  padding: 15px 0;
  transition: var(--main-trans);
}

footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

footer .box .links li:hover {
  padding-right: 10px;
}

footer .box .links li:hover a {
  color: rgb(0, 0, 0);
}

footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-trans);
}

footer .box .links li a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-left: 10px;
  color: #b9b9b9;
}

footer .box .links li:hover a::after {
  color: black;
}

footer .box .line {
  display: flex;
  align-items: center;
  color: black;
  margin-bottom: 30px;
}

footer .box .line i {
  font-size: 25px;
  color: #b9b9b9;
  margin-right: 10px;
}

footer .box .line .info {
  line-height: 1.8;
  flex: 1;
}

footer .box .line .info span {
  display: block;
}

footer .footer-gallery img {
  width: 100px;
  border: 3px solid white;
  margin: 2px;
}

footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: black;
  margin: 50px 0 0;
  border-top: 1px solid #9b9b9b;
}
/* contact */
.contact-container {
  /* background:#90ee90; */
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.contact-aside {
  /* background: var(--color-primary); */
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}

.aside-img {
  width: 12rem;
  margin-bottom: 2em;
}

.contact-aside h2 {
  text-align: right;
  margin-bottom: 1rem;
}

.contact-aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  text-align: right;
}
.contact-details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
 justify-content: right;

}

.contact-socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
 justify-content: right;
}

.contact-socials a {
  background: #31c48d;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: var(--transtion);
}

.contact-socials a:hover {
  background: transparent;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form-name {
  display: flex;
  gap: 1.2rem;
}
.contact-form input,
.contact-form textarea{
  outline: none;
  border-radius: 7px;
}
.contact-form input[type="text"] {
  width: 50%;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 1rem;
  background: #bcf0da;
  color:#fff;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: black;
  text-align: right;
}
.contact-form .btn {
  width: max-content;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: auto;
}

@media(max-width:1024px) {
  /* .contact {
      padding: ;
  } */
  .contact-container {
      gap: 1.5rem;
      margin-top: 3rem;
      height: auto;
      padding: 1.5rem;
  }
  .contact-aside {
      width: auto;
      padding: 1.5rem;
      bottom: 0;
  }
  .contact-form {
      align-self: center;
      margin-right: 1.5rem;
  }
}

@media(max-width:600px) {
  .contact-container {
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-top: 0;
      padding: 0;
  }
  .contact-form {
      margin: 0 1.5rem 3rem;
  }
  .form-name {
      flex-direction: column;
  }
  .form-name input[type="text"] {
      width: 100%;
  }
}
section .btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transtion);
  border-radius: 7px;
}

section .btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

section .btn-primary {
  background: #84e1bc;
  color: var(--color-black);
}